/* ------------------------------
design by zengcheng & sj09@qbt8.com
date 2015-07-08
---------------------------- */

/*** common ***/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,input,form,span,img,p,ul,li,margin,padding,div{margin:0px;padding:0px;font-size:12px;font-family:Arial, Helvetica, sans-serif,"宋体";color:#333;}
ul,li{list-style-type:none;}
img,border{border:0;}
img{vertical-align: top;margin: 0px; padding: 0px;}
a{color:#333;text-decoration:none;}
a:hover{color:#b1191a;text-decoration:none;}
.clear{height:0px;line-height:0px;font-size:0px;overflow:hidden;clear:both;}

.main_box{width:1200px;margin:0 auto;}

.adv{width:1200px;height:100px;margin:10px auto;}

.leaveTime{font-weight:bold;font-size:14px;}

/* modal */
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;opacity:0.6;filter:alpha(opacity=60)}
.modal{position:fixed;top:60%;left:50%;z-index:1050;width:580px;height:330px;margin:-250px 0 0 -280px;background-color:#ffffff;}
.close{cursor:pointer;cursor:pointer;position:absolute;right:16px;top:20px;font-size:14px;background:url(../images/close.png) no-repeat;width:11px;height:11px;}
.modal .but input{width:70px;height:30px;border:none;margin:0 5px;cursor:pointer;font-size:14px;}
.modal .but .an1{background:#f8f8f8;border:1px solid #ddd;color:#666;}
.modal .but .an2{background:#dc3980;border:none;color:#fff;}

.popup .title,.popup_660 .title{background:#f5f5f5; padding:0 10px; height:40px;line-height:40px; color:#333; margin-bottom:15px; overflow:hidden; font-size:12px;border-bottom:1px solid #c81623;}
.popup .title em{display:block; float:left;font-style:normal;font-size:14px;color:#d40e03;font-weight:bold;}
.popup .title a{display:block; float:right; color:#999; font-size:20px; text-decoration:none;}
.popup .title a:hover{color:#333;}
.popup .bt{ padding:15px 10px; overflow:hidden; position:relative;clear:both;}
.popup .bt-3{display:inline-block; width:140px; height:35px; line-height:36px; color:#fff; text-align:center; background:#c81623; font-size:14px; text-decoration:none;font-family:'Microsoft YaHei'; border-radius:3px;}
.popup .bt-3:hover{background:#d40e03;}
.popup .bt-3{margin-right:37px; float:right;}


/* modal1 */
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;opacity:0.6;filter:alpha(opacity=60)}
.modal1{position:fixed;top:65%;left:58%;z-index:1050;width:343px;height:232px;margin:-250px 0 0 -280px;background-color:#ffffff;}
.close{cursor:pointer;cursor:pointer;position:absolute;right:16px;top:20px;font-size:14px;background:url(../images/close.png) no-repeat;width:11px;height:11px;}
.modal1 .but input{width:70px;height:30px;border:none;margin:0 5px;cursor:pointer;font-size:14px;}
.modal1 .but .an1{background:#f8f8f8;border:1px solid #ddd;color:#666;}
.modal1 .but .an2{background:#dc3980;border:none;color:#fff;}

.popup1 .title{background:#f5f5f5; padding:0 10px; height:40px;line-height:40px; color:#333; margin-bottom:15px; overflow:hidden; font-size:12px;border-bottom:1px solid #c81623;}
.popup1 .title em{display:block; float:left;font-style:normal;font-size:14px;color:#d40e03;font-weight:bold;}
.popup1 .title a{display:block; float:right; color:#999; font-size:20px; text-decoration:none;}
.popup1 .title a:hover{color:#333;}
.popup1 .wz{text-align:center;padding:0 10px;font-size:14px;color:#666;}
.popup1 .wz span{color:#b1191a;font-size:16px;}
.popup1 .bt{ padding:15px 10px; overflow:hidden; position:relative;clear:both;text-align:center;}
.popup1 .bt-3{display:inline-block; width:140px; height:35px; line-height:36px; color:#fff; text-align:center; background:#c81623; font-size:14px; text-decoration:none;font-family:'Microsoft YaHei'; border-radius:3px;}
.popup1 .bt-3:hover{background:#d40e03;}
.popup1 .bt-3{}

/* side */
.side{position:fixed;width:28px;height:275px;right:0;top:405px;z-index:100;}
.side ul li{width:28px;height:35px;float:left;position:relative;margin-bottom:1px;}
.side ul li .sidebox{position:absolute;width:28px;height:35px;top:0;right:0;transition:all 0.3s;background:#282828;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/35px "微软雅黑";overflow:hidden;border-radius:5px 0 0 5px;}
.side ul li .sidetop{width:28px;height:35px;line-height:54px;display:inline-block;background:#282828;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;border-radius:5px 0 0 5px;}
.side ul li .r_box .rbg{background:url(../images/rwmbg.png) no-repeat;width:199px;height:188px;position:absolute;left:-200px;top:-141px;display:none;}
.side ul li .r_box:hover .rbg{display:block;}
.side ul li .r_box .rbg img{margin-top:1px;margin:1px;}
.side ul li .sidetop:hover{background:#b1191a;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}

/*gotop*/
/*.cbbfixed {position: fixed;right:1px;transition: bottom ease .3s;bottom:10%;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 58px;height: 58px;display: block;border:1px solid #ededed;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top:-1px;}
.cbbfixed .gotop .up-icon{float:left;width:58px;height:58px;background: url(../images/back_01.png);}
.cbbfixed .gotop .up-icon:hover {background: url(../images/back_001.png);opacity:0.8;}
.cbbfixed .cweixin {background: #dadbdd;margin-top:-1px;}
.cbbfixed .cweixin div {background: url(../images/erwei.png);width: 194px;height: 199px;position: absolute;left: -194px;top:10px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;width:58px;height: 58px; background: url(../images/pf02.png);}
.cbbfixed .yijian .yijian-icon{float: left;width:58px;height: 58px; background: url(../images/pf03.png);}
.cbbfixed .kefu .kefu-icon{float: left;width:58px;height: 58px; background: url(../images/back_02.png);}
.cbbfixed .kefu .kefu-icon:hover{background: url(../images/back_002.png);}
.cbbfixed .yijian{margin-top:-1px;}*/

/*** top ***/
.top_box{background:#f7f7f7;height:32px;border:1px solid #e8e8e8;}
.top{width:1200px;margin:0 auto;line-height:32px;}
.top_l{float:left;}
.top_r{float:right;height:32px;}
.top_l i{font-size:16px;color:#dc3980;font-weight:bold;margin-right:10px;}
.top_l div{float:left;}
.top_l .mfzc span{margin-left:10px;}
.top_l .mfzc font{color:#999;}
.top_l .mfzc b{color:#d40e03;}
.top_r .top_menu{float:left;}
.top_r .top_menu a{margin:0 10px;}
.top_r .top_menu b{color:#d40e03;}
.top_r .jmwm{float:left;position:relative;width:60px;padding:0 5px;margin-right:10px;}
.top_r .jmwm:hover .pull{display:block;}
.top_r .jmwm span{display:block;background:url(../images/ico_san.png) no-repeat right;padding-right:10px;cursor:pointer;}
.top_r .jmwm .pull{width:100%;border:1px solid #e4e4e4;position:absolute;top:32px;left:0;background:#fff;display:none;}
.top_r .jmwm .pull li{text-align:center;white-space:nowrap;}
.top_r .jmwm .pull li a{display:block;}
.top_r .jmwm .pull li:hover{background:#d40e03;}
.top_r .jmwm .pull li:hover a{color:#fff;}
.top_r .ul1{float:left;}
.top_r .ul1 li img{margin-top:8px;}
.top_r .ul1 li{float:left;text-align:center;padding-left:10px;display:inline;}

/*** top1 ***/
.top_box1{width:100%;height:106px;background:#fff;}
.top1{width:1200px;margin:0 auto;}
.top1 .logo{width:214px;height:71px;float:left;margin-top:15px;margin-right:15px;}
.top1 .search_box{float:left;width:400px;margin-top:28px;display:inline;height:34px;}
.top1 .search_box .search{width:392px;height:30px;}
.top1 .search .srk1{width:278px;height:28px;float:left;font-size:14px;padding:0 5px;border:1px solid #d8d9dc;background:url(../images/ico_search.png) no-repeat 5px 6px #f0f0f0;padding-left:30px;color:#b7b7b7;}
.top1 .search .srk2{width:278px;height:28px;float:left;font-size:14px;padding:0 5px;border:1px solid #d8d9dc;background:url(../images/ico_search.png) no-repeat 5px 6px #f0f0f0;padding-left:30px;}
.top1 .search .an{cursor:pointer;width:70px;height:30px;float:left;color:#fff;font-size:14px;border:none;background:#b61d1d;font-weight:bold;}
.top1 .xcy{width:172px;height:54px;border-left:1px solid #dbdbdb;float:left;padding-left:10px;margin-top:23px;margin-right:40px;}
.top1 .xcy p{font-size:24px;font-family:"微软雅黑";margin-bottom:5px;}
.top1 .wz{height:25px;}
.top1 .wz a{color:#666;line-height:25px;margin-right:10px;}
.top1 .wz a:hover{color:#333;}
.top1 .sys{width:200px;float:right;margin-top:20px;}
.top1 .sys p{margin-top:5px;font-family:"微软雅黑";}
.top1 .sys td{position:relative;}
.top1 .sys td a{cursor:pointer;}
.top1 .sys td .sjb_d{width:188px;height:200px;background:url(../images/rwm.png) no-repeat;display:none;position:absolute;top:75px;left:-64px;z-index:9;}
.top1 .sys td .sjb_d img{margin-top:13px;}
.top1 .sys td .sjb:hover .sjb_d{display:block;}
.top1 .sys td .wx_d{width:188px;height:200px;background:url(../images/rwm_bg.png) no-repeat;display:none;position:absolute;top:75px;left:-127px;z-index:9;}
.top1 .sys td .wx_d img{margin-top:13px;}
.top1 .sys td .wx:hover .wx_d{display:block;}
.top1 .sys span{line-height:60px;font-size:16px;font-family:'微软雅黑';}
.top1 .step1{float:right;width:500px;height:60px;background:url(../images/process-01.png) no-repeat;margin-top:26px;}
.top1 .step2{float:right;width:500px;height:60px;background:url(../images/process-01.png) no-repeat;margin-top:26px;background-position:0 -72px;}
.top1 .step3{float:right;width:500px;height:60px;background:url(../images/process-01.png) no-repeat;margin-top:26px;background-position:0 -143px;}

/*** menu ***/
.fl_box{width:1200px;height:461px; z-index:999;}
.nav_100{ width:100%; height:33px;border-bottom:2px solid #b1191a;background:#fff;}
.navlist{ width:1200px; height:33px;margin:0 auto;}
.nav_list_c{ width:197px; height:33px; line-height:33px; background:#b1191a;text-align:center;float:left;}
.nav_list_c ul li{ text-decoration:none; list-style:none; overflow:hidden;font-size:16px; color:#FFF;}

.nav_list_n{height:33px;float:left;}
.nav_list_n ul{ text-decoration:none; list-style:none; overflow:hidden;}
.nav_list_n ul li{ margin-left:40px; float:left; line-height:33px; font-size:16px; color:#FFF; font-family:"微软雅黑";}
.nav_list_n ul li a{ text-decoration:none; color:#000;}
.nav_list_n ul li a:hover{ text-decoration:none; color:#d40e03;}

.nav_list_s{height:26px; background:url(../images/search_bg.png) no-repeat;float:right;}
.nav_list_s a{display:block;line-height:33px;padding-left:15px;background:url(../images/ico_sj.png) no-repeat 0 6px;font-size:14px;font-weight:bold;}

/*** spfl ***/
.spfl{width:100%;height:461px;float:left;margin-top:1px;}
.abk1_category_list{height:461px;}
/*菜单效果*/
.warpper{width:1200px;margin:0px auto 0 auto;}
#nav{height:420px;position:relative;background:#fff;z-index:99;border:1px solid #ddd;border-top:none;padding:20px;overflow:hidden;}
#nav .mod_cate_hd{height:40px;line-height:40px;font-size:16px;color:#333;text-indent:7px;box-shadow:2px -1px 3px rgba(55,55,55,0.5);background-color:#4593FD;border-bottom:1px #3487F2 solid;font-family:"Microsoft Yahei";}
#nav .mod_cate,#nav .mod_cate2{width:200px;line-height:30px;overflow:hidden;z-index:99;margin-bottom:18px;}
#nav .mod_cate{float:left;margin-right:20px;}
#nav .mod_cate h2,#nav .mod_cate2 h2{font-size:14px;text-align:left;}
#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{color:#333;}
#nav .mod_wz{font-size:12px;text-align:left;line-height:24px;}
#nav .mod_wz a{margin-right:11px;color:#666;}
#nav .mod_wz a:hover{color:#f87801;}
#nav .mod_cate h2{background:url(../images/ico_san02.png) no-repeat right;}
#nav .mod_box{padding:0 8px 18px 8px;z-index:99;border-bottom:1px solid #ddd;height: 110px;}
#nav .mod_box1{background:none;height:96px;margin:0 10px;}

#nav .mod_cate a.hot_sub{background:#106AC0;font-size:12px;border-radius:9px;padding:0px 5px;margin-left:5px;}
#nav .mod_cate_r{line-height:24px;font-style:normal;font-variant:normal;}
#nav .mod_cate_r a{font-size:12px;color:#C2D9F8;padding-right:5px;}
#nav .mod_cate2{background:none;}
#nav .mod_cate2 a.yel{color:#fee602;}
#nav .mod_subcate{display:none;height:480px;border:2px #c81623 solid;background:#FFFFFF;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4);position:absolute;top:-2px;z-index:999;left:196px;overflow:hidden;}

#nav .mod_subcate_main{width:560px;padding:0px 20px 0px 20px;float:left;}
#nav .mod_subcate_line{width:100%;height:1px;clear:both;font-size:0px;margin-bottom:5px;border-top:5px #fff solid;border-bottom:1px #dadada dotted;overflow:hidden;display:block;}
#nav .mod_subcate_main dl{padding:7px 0 7px 65px;border-bottom:1px #e5e5e5 solid;overflow:hidden;text-align:left;}
#nav .mod_subcate_main dl dt{width:65px;font-size:14px;color:#d40e03;line-height:24px;font-style:normal;font-variant:normal;font-weight:700;margin-left:-65px;float:left;font-size-adjust:none;font-stretch:normal;}
#nav .mod_subcate_main dl dd{line-height:22px;overflow:hidden; padding-top:1px;}
#nav .mod_subcate_main dl dd a{color:#666;font-size:12px;margin:0 5px 0 5px;float:left;display:inline;white-space:nowrap;}
#nav .mod_subcate_main dl dd a:hover{color:#d40e03;}
#nav .mod_subcate_main dl dd a.org{color:#ff7300;}
#nav .mod_subcate_channel{clear:both;margin-top:15px;} 
#nav .mod_subcate_channel .mod_btn_arrow{height:26px;line-height:26px;font-size:12px;padding:0 10px 0 10px;margin-left:5px;text-decoration:none;color:#FFFFFF;background:#2785E6;cursor:pointer;display:inline-block;}
#nav .mod_subcate_channel .mod_btn_arrow b{font-weight:normal;float:left;}
#nav .arrow_dot { width:0px;height:0px;overflow:hidden;font-size:0px;margin:14px 0 0 5px;border:4px transparent dashed;border-left:4px #FFFFFF solid;}
#nav .mod_subcate_side{width:217px;padding-top:5px;padding-left:10px;padding-bottom:1000px;margin-bottom:-1000px;float:left;}
#nav .fl{width:882px;border-right:1px solid #ddd;float:left;margin-right:40px;padding-right:20px}

#nav .on{background:#fff;}
#nav .on .mod_box{background:url(../images/spfl_line1.png) repeat-x bottom;}
#nav .on .mod_box1{background:none;}
#nav .on h2 a{color:#1d1613;}
#nav .on .mod_subcate{display:block !important;/* !important 强制显示，否则会闪烁*/z-index:99;}
#nav .on .mod_cate_r a{color:#666666;}
#nav .on a.hot_sub{color:#FFFFFF;}
#nav .on .mod_wz a{color:#666;}
#nav .on .mod_wz a:hover{color:#d40e03;}

.yc_gg{float:left;margin-top:20px;}
.yc_gg .gg_box{margin-bottom:24px;}
.yc_gg .gg_box p{font-size:14px;}

/*** security ***/
.security{background:url(../images/security.png) no-repeat #b1191a center;height:59px;margin:30px 0 30px 0;}

/*** link ***/
.link_box{border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;padding:25px 0 30px 0;background:#fff;}
.link_box ul{width:920px;float:left;}
.link_box ul li{float:left;height:96px;border-right:1px solid #e4e4e4;color:#333;line-height:24px;padding:0 44px;}
.link_box ul li a{color:#999;}
.link_box ul li a:hover{color:#d40e03;}
.link_box .zxkf{float:left;margin-left:60px;}
.link_box .zxkf span{color:#545455;font-size:16px;font-family:"微软雅黑";}
.link_box .zxkf p{color:#545455;font-size:20px;font-family:"微软雅黑";margin-bottom:5px;}

/*** bottom ***/
.bottom{text-align:center;padding-top:20px;}
.bottom p{color:#999;}
.bottom ul{width:559px;margin:10px auto;}
.bottom li{float:left;line-height:50px;margin:0 5px;}
.bottom li a{color:#999;}
.bottom li a:hover{color:#d40e03;}

/*** cur_wz ***/
.cur_wz{width:1180px;height:38px;line-height:38px;margin:0 auto;color:#999;font-family:"SimSun","SimHei";}
.cur_wz a{color:#d40e03;}
.cur_wz a:hover{text-decoration:underline;}
.cur_wz span{background:url(../images/cur.png) no-repeat;height:12px;padding-left:18px;}

/*** 会员登录 ***/
.blank36 {clear: both; font-size:0px; height:36px; }
.line3{border-bottom: 1px solid #dddddd;}
.div_1200_d{
	margin-top:35px;
	text-align: left;
	vertical-align: top;
	width: 1120px;
	padding: 20px 39px 39px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	background: #FFFFFF;
	border-top: 2px solid #b61d1d;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}
.agy20 {	font-size: 20px; color: #b61d1d;	text-decoration: none;font-family: "Microsoft YaHei","SimHei","SimSun";}
a.agy20:link {  font-size: 20px; color: #666666; text-decoration: none}
a.agy20:visited {  font-size: 20px; color: #666666; text-decoration: none}
a.agy20:hover {  font-size: 20px; color: #cc0000; text-decoration: underline}

.login_ggt{ width:500px; height:200px; border:#ddd 1px solid; margin-top:5px;}
.f_error{color:#666;}
.ina4_pw{
	height: 29px!important;
	_height: 26px;
	font-size: 14px;
	line-height: 15px;
	padding: 3px 30px 3px 3px!important;
	_padding: 6px 30px 3px 3px;
	border: 1px solid #DDDDDD;
	color: #333;
	background: #FFFFFF url(../images/ina_bg_2.gif) no-repeat right top;
	width: 257px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina4_pw:hover{
	height: 29px !important;
	_height: 26px;
	font-size: 14px;
	line-height: 15px;
	padding: 3px 30px 3px 3px!important;
	_padding: 6px 30px 3px 3px;
	border: 1px solid #ee0000;
	color: #333;
	background: #FFFFFF url(../images/ina_bg_2.gif) no-repeat right top;
	width: 257px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.ina4_mem{
	height: 29px!important;
	_height: 26px;
	font-size: 14px;
	line-height: 15px;
	padding: 3px 30px 3px 3px!important;
	_padding: 6px 30px 3px 3px;
	border: 1px solid #DDDDDD;
	color: #333;
	background: #FFFFFF url(../images/ina_bg_1.gif) no-repeat right top;
	width: 257px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina4_mem:hover{
	height: 29px !important;
	_height: 26px;
	font-size: 14px;
	line-height: 15px;
	padding: 3px 30px 3px 3px!important;
	_padding: 6px 30px 3px 3px;
	border: 1px solid #b61d1d;
	color: #333;
	background: #FFFFFF url(../images/ina_bg_1.gif) no-repeat right top;
	width: 257px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina4{
	font-size: 14px;
	border: 1px solid #ccc;
	color: #404040;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 35px;
	padding: 0px 7px;
	font-family:"微软雅黑";
}
.ina4:hover{
	font-size: 14px;
	border: 1px solid #d40e03;
	color: #404040;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 35px;
	padding: 0px 7px;
}
.ina4_mail{
	height: 29px!important;
	_height: 26px;
	font-size: 14px;
	line-height: 15px;
	padding: 3px 30px 3px 3px!important;
	_padding: 6px 30px 3px 3px;
	border: 1px solid #DDDDDD;
	color: #333;
	background: #FFFFFF url(../images/ina_mail_1.gif) no-repeat right top;
	width: 257px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina4_mail:hover{
	height: 29px !important;
	_height: 26px;
	font-size: 14px;
	line-height: 15px;
	padding: 3px 30px 3px 3px!important;
	_padding: 6px 30px 3px 3px;
	border: 1px solid #ee0000;
	color: #333;
	background: #FFFFFF url(../images/ina_mail_1.gif) no-repeat right top;
	width: 257px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.div_1200{
	text-align: left;
	vertical-align: top;
	padding: 0px;
	width: 1200px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.div_220 {
	text-align: left;
	vertical-align: top;
	padding: 0px;
	float: left;
	width: 220px;
	overflow: hidden;
}
.blank10 {clear: both; font-size:0px; height:10px; }
.article_nav1 {	font-size: 12px;
	line-height: 1.3;
	font-weight: bold;
	color: #0099E4;
	background: url(../images/dot_nav1.gif) no-repeat 1px 5px;
	text-align: left;
	vertical-align: top;
	display: block;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	border-bottom: 1px solid #0d600e;
	overflow: hidden;
}
.article_nav2 {
	font-size: 12px;
	line-height: 1.3;
	color: #666;
	background: url(../images/dot_nav2.gif) no-repeat 2px 5px;
	text-align: left;
	vertical-align: top;
	display: block;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: 1px dashed #999999;
	overflow: hidden;
}
.article_nav2 a{color:#666;}
.article_nav2 a:hover{color:#f87801;}
.ab14 { font-size: 14px;  color: #015198; text-decoration: none}
a.ab14:link {  font-size: 14px; color: #0d600e; text-decoration: none}
a.ab14:visited {  font-size: 14px; color: #0d600e; text-decoration: none}
a.ab14:hover {  font-size: 14px; color: #cc0000; text-decoration: underline}

.div_980 {
	text-align: left;
	vertical-align: top;
	padding: 0px;
	float: right;
	width: 980px;
	overflow: hidden;
}
.here_div {
	margin: 10px auto 5px;
	padding: 5px;
	clear: both;
	overflow: hidden;
}
.agy1 {	font-size: 14px; color: #333; text-decoration: none;}
a.agy1:link {  font-size: 14px; color: #333; text-decoration: none}
a.agy1:visited {  font-size: 14px; color: #333; text-decoration: none}
a.agy1:hover {  font-size: 14px; color: #cc0000; text-decoration: underline}
.line11{
	background: url(../images/line1.gif) repeat-x left bottom;
}
.abk14 { font-size: 14px; color: #000000; text-decoration: none}
a.abk14:link {  font-size: 14px; color: #000000; text-decoration: none}
a.abk14:visited {  font-size: 14px; color: #000000; text-decoration: none}
a.abk14:hover {  font-size: 14px; color: #cc0000; text-decoration: underline}

.ab30 {	font: 30px  "Microsoft YaHei","SimHei","SimSun";  color: #0d600e;	text-decoration: none;}
a.ab30:link {  font-size: 30px; color: #015198; text-decoration: none}
a.ab30:visited {  font-size: 30px; color: #015198; text-decoration: none}
a.ab30:hover {  font-size: 30px; #cc0000; text-decoration: underline}
.imgmax_960 img{
	max-width: 960px;
	margin: 0px;
	vertical-align:middle
}
.ina2{
	height: 19px !important;
	_height: 16px;
	font-size: 12px;
	line-height: 15px;
	padding: 3px 5px 3px 3px!important;
	_padding: 6px 5px 3px 3px;
	border: 1px solid #ccc;
	color: #404040;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina2:hover{
	height: 19px !important;
	_height: 16px;
	font-size: 12px;
	line-height: 15px;
	padding: 3px 5px 3px 3px!important;
	_padding: 6px 5px 3px 3px;
	border: 1px solid #ee0000;
	color: #404040;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina1{

	font-size: 12px;
	line-height: 15px;
	padding: 3px 5px 3px 3px!important;
	_padding: 6px 5px 3px 3px;
	border: 1px solid #ccc;
	color: #404040;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina1:hover{
	font-size: 12px;
	line-height: 15px;
	padding: 3px 5px 3px 3px!important;
	_padding: 6px 5px 3px 3px;
	border: 1px solid #EE0000;	
	color: #404040;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ina_again_div{padding: 0px;}
.div_article, .div_article p{
	font-size: 14px;
	line-height: 1.7;
	text-align: left;
	vertical-align: top;
	padding: 10px;
}

.div_article a:link,.div_article a:visited{
	font-size: 14px;
	color: #666666;
	text-decoration: none;
}
.div_article a:hover{
	font-size: 14px;
	color: #f00;
	text-decoration: none;
}
.btn2{
	font: 14px/1.9 "Microsoft YaHei", "SimHei", "SimSun";
	color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #C40001;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	float: left;
	margin-right: 6px;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
	padding: 3px 10px 5px;
}
.btn2:hover{
font: 14px/1.9 "Microsoft YaHei", "SimHei", "SimSun";
	color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #D64D4E;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	float: left;
	margin-right: 6px;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
	cursor:pointer;
	padding: 3px 10px 5px;
}
.cart_btn_2 a:link,.cart_btn_2 a:visited{
	font: 18px/41px "Microsoft YaHei", "SimHei", "SimSun";
	color: #FFFFFF;
	background:  url(../images/btn_cart.gif) no-repeat 0px -120px;
	display: block;
	padding: 0px 0px 0px 32px;
	height: 41px;
	width: 118px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
}
.cart_btn_2 a:hover{
	font: 18px/41px "Microsoft YaHei", "SimHei", "SimSun";
	color: #FFFFFF;
	background:  url(../images/btn_cart.gif) no-repeat 0px -180px;
	display: block;
	padding: 0px 0px 0px 32px;
	height: 41px;
	width: 118px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
}
.ag20 {	font: 20px  "Microsoft YaHei","SimHei","SimSun"; color: #ff6600;	text-decoration: none;}
.ab20 {	font: 20px  "Microsoft YaHei","SimHei","SimSun";	color: #015198;	text-decoration: none;}
a.ab20:link {  font-size: 20px; color: #015198; text-decoration: none}
a.ab20:visited {  font-size: 20px; color: #015198; text-decoration: none}
a.ab20:hover {  font-size: 20px; color: #cc0000; text-decoration: underline}
.abk14_hred { font-size: 14px; color: #b7153c; text-decoration: none; font-family:"微软雅黑";}
a.abk14_hred:link {  font-size: 14px; color: #b7153c; text-decoration: none}
a.abk14_hred:visited {  font-size: 14px; color: #b7153c; text-decoration: none}
a.abk14_hred:hover {  font-size: 14px; color: #b7153c; text-decoration: underline}

.agr14 {	font: 14px "Microsoft YaHei","STXiHei","SimHei","SimSun"; color: #009933; text-decoration: none}
a.agr14:link {font-size: 14px; color: #d40e03; text-decoration: none}
a.agr14:visited {font-size: 14px; color: #d40e03; text-decoration: none}
a.agr14:hover {font-size: 14px; color: #ff0000; text-decoration: none}

.abk14 {font: 14px "Microsoft YaHei","STXiHei","SimHei","SimSun";  color: #000000; text-decoration: none}
a.abk14:link {font-size: 14px; color: #000000; text-decoration: none}
a.abk14:visited {font-size: 14px; color: #000000; text-decoration: none}
a.abk14:hover {font-size: 14px; color: #ff0000; text-decoration: none}

.agy14 {font-size: 14px;	color: #666;
	text-decoration: none;
	font-family: "Microsoft YaHei","STXiHei","SimHei","SimSun";}
a.agy14:link {font-size: 14px; color: #666; text-decoration: none}
a.agy14:visited {font-size: 14px; color: #666; text-decoration: none}
a.agy14:hover {font-size: 14px; color: #ff0000; text-decoration: none}

.agy1 {	font-size: 12px; color: #999; text-decoration: none;}
a.agy1:link {  font-size: 12px; color: #999; text-decoration: none}
a.agy1:visited {  font-size: 12px; color: #999; text-decoration: none}
a.agy1:hover {  font-size: 12px; color: #ff0000; text-decoration: none}

.agr {  font-size: 12px; color: #009933; text-decoration: none}
a.agr:link {  font-size: 12px; color: #d40e03; text-decoration: none;line-height:20px;}
a.agr:visited {  font-size: 12px; color: #d40e03; text-decoration: none}
a.agr:hover {  font-size: 12px; color: #ff0000; text-decoration: none}
.mem_pay a:link,.mem_pay a:visited{
	font: 12px/23px "宋体";
	background: url(../images/icon_order1.gif) no-repeat -10px -130px;
	text-align: left;
	vertical-align: top;
	padding: 0px;
	height: 23px;
	width: 80px;
	border-style: none;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	display: block;
	margin: 0px;
	text-indent: 26px;
}
.mem_pay a:hover{
	font: 12px/23px "宋体";
	background: url(../images/icon_order1.gif) no-repeat -10px -130px;
	text-align: left;
	vertical-align: top;
	padding: 0px;
	height: 23px;
	width: 80px;
	border-style: none;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	display: block;
	margin: 0px;
	text-indent: 26px;
}
.mem_pay_1 a:link,.mem_pay_1 a:visited{
	border-radius:3px;
	background:#c81623 ;
	font: 12px/23px "宋体";
	text-align: center;
	vertical-align: top;
	padding: 0px;
	height: 23px;
	width: 80px;
	border-style: none;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	display: block;
	margin: 0px;
}
.mem_pay_1 a:hover{
	border-radius:3px;
	background:#c81623 ;
	font: 12px/23px "宋体";
	text-align: center;
	vertical-align: top;
	padding: 0px;
	height: 23px;
	width: 80px;
	border-style: none;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	display: block;
	margin: 0px;
}

.btn3{line-height: 21px;color: #FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background: #0099E4;border-top: none;border-right: none;border-bottom: none;border-left: none;font-size: 12px;text-align: center;vertical-align: top;overflow: hidden;height: 21px;padding-right: 15px;padding-left: 15px;cursor:pointer;}
.btn_subOrder{font: 18px/41px "Microsoft YaHei", "SimHei", "SimSun";color: #FFFFFF;background:  url(../images/order_submit.gif) no-repeat 0px 0px;display: block;padding: 0px 0px 0px 28px;height: 41px;width: 200px;overflow: hidden;text-decoration: none;text-align: center;vertical-align: top;border-style: none;cursor:pointer;}
.btn_subOrder:hover{font: 18px/41px "Microsoft YaHei", "SimHei", "SimSun";color: #FFFFFF;background:  url(../images/order_submit.gif) no-repeat 0px -60px;display: block;padding: 0px 0px 0px 28px;height: 41px;width: 200px;overflow: hidden;text-decoration: none;text-align: center;vertical-align: top;border-style: none;cursor:pointer};
.btn3:hover{line-height: 21px;color: #FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background: #015198;border-top: none;border-right: none;border-bottom: none;border-left: none;font-size: 12px;text-align: center;vertical-align: top;overflow: hidden;height: 21px;padding-right: 15px;padding-left: 15px;}
.btn4{color: #FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background: #c81623;border: none;text-align: center;vertical-align: top;overflow: hidden;font: 16px/32px "Microsoft YaHei", "SimHei", "SimSun";margin-right: 6px;cursor:pointer;padding-right: 20px;padding-left: 20px;height: 35px;}
.btn4:hover{color: #FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;background: #d40e03;border: none;text-align: center;vertical-align: top;overflow: hidden;font: 16px/32px "Microsoft YaHei", "SimHei", "SimSun";margin-right: 6px;cursor:pointer;padding-right: 20px;padding-left: 20px;height: 35px;}
.blank12 {clear: both; font-size:0px; height:12px;}

/*page*/
.icon-next{display: inline-block;vertical-align: middle;overflow: hidden;font-size: 0;line-height: 0;background: url(../images/icon1.png) no-repeat 0 0;width: 6px;height: 8px;background-position: -51px -51px;}
.icon-pre{display: inline-block;vertical-align: middle;overflow: hidden;font-size: 0;line-height:0;background:url(../images/icon1.png) no-repeat 0 0;width: 6px;height: 8px;background-position: -42px -51px;}
.page{line-height: 28px; margin:0 auto;width:100%; text-align:center;margin-top:40px;}
.page .pages{margin-top: 20px;}
.page a{display: inline-block;color: #999;height: 28px;vertical-align: middle;background-color:#fff;border: 1px solid #d6d6d6;text-align: center;margin-right: 5px;position: relative;top: auto;left: auto;bottom: auto;right: auto;overflow: hidden;padding: 0 5px;min-width: 18px;_width: expression(this.width>18?"":"18px"); text-decoration:none;}
.page a i{position: absolute;top: 10px;left: 11px;bottom: auto;right: auto;}
.page a:hover,.page a.active{height:30px;line-height:30px;padding:0 6px;border:none;background:#d40e03;color:#fff;}
.page a.btn-disabled{border: 1px solid #d6d6d6;cursor: default;height:28px;padding:0 5px;}
.page a.btn-disabled i{opacity: 0.4;filter: alpha(opacity:40);_filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
.page a.btn-disabled:hover{background-color: #fff;}
.page .goPage{float: right;}
.page .goPage input{width: 32px;height: 28px;vertical-align: middle;border: 1px solid #eee;margin-left: 5px;text-align: center;*line-height: 28px;}
.page .goPage a{margin-right: 0;}
.page .pre:hover .icon-pre,
.page .next:hover .icon-pre{background-position: -42px -60px;}
.page .pre:hover .icon-next,
.page .next:hover .icon-next{background-position: -50px -59px;}
.page .pre.btn-disabled:hover .icon-pre,
.page .next.btn-disabled:hover .icon-pre{background-position: -42px -51px;}
.page .pre.btn-disabled:hover .icon-next,
.page .next.btn-disabled:hover .icon-next{background-position: -51px -51px;}

#chat_f1,#chat_f2{font-size:12px}
#chat_f1{position:fixed;right:0px;top:80px;width:319px;height:362px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+220));z-index:9;}
#chat_f1_main{height:319px;background:url(../images/c2.gif) no-repeat}
#close{display:block;width:17px;height:17px;margin-left:76px;cursor:pointer;position:absolute;right:10px;top:0;}
.a_kf,.a_sh{ width:70px; height:20px; display:inline-block; margin:0 6px;}
.a_kf{ margin-top:65px;}
#chat_f1_bottom{height:3px;width:82px;overflow:hidden;background:url(../images/c2.gif) 0px -160px no-repeat }
.chat_f1_expr{width:82px;height:0px;overflow:hidden}
.list{height:25px;border:1px solid #dbdbdb;border-top:none;overflow:hidden;color:#787878;background:#fff }
.name{line-height:25px}
.current{border-left-color:#fff}
.arrow{color:#fff}
.detail{position:absolute;margin-left:-222px;margin-top:-26px;display:none;width:200px;padding:10px;border:1px solid #dbdbdb;background:#fff;line-height:18px}
.send_sms{display:inline-block;width:109px;height:25px;background:url(../images/c2.gif) 0px -163px;vertical-align:middle}
.mt{margin:2px 0}
.mt5{margin-top:5px}
.chat_f1_expr .list .detail .border{position:absolute;width:1px;height:25px;margin-left:210px;background:#fff;margin-top:-10px}
#chat_f2{display:none;position:fixed;right:1px;top:185px;width:34px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+185));color:#F60;cursor:pointer;}

/*左边分类浮动导航*/
.left_cat_nav_warp1{
	display: none;
}
#page_top {
	z-index: 1001;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	width: 100%;
	position: relative;
}
.left_cat_nav{
	position:fixed;
	top:190px;
	left:10px;
	width:50px !important;
	_width:48px;
	margin: 0px;
	padding: 0px 1px 1px;
	_position:absolute;
	_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop));
	_margin-top:60px;
	display: block;
	vertical-align: top;
	z-index: 0;
}
.left_cat_nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

.left_cat_nav ul li{
	width:50px;
	height:31px;
	text-align:center;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	font: 12px/18px "宋体";
	border-bottom:1px solid #ddd;
	background:#e63e4e;
}
.left_cat_nav ul li a{
	text-decoration:none;
	display: block;
	padding: 0px;
	height: 31px;
	width: 48px;
	margin: 0px;
	overflow: hidden;
	color:#fff;
	padding-left:3px;
}
.left_cat_nav ul li a font{float:left;width:15px;height:15px;line-height:16px;border-radius:15px;background:#fff;color:#999;font-family:Arial, Helvetica, sans-serif;font-size:11px;margin-top:6px;}
.left_cat_nav ul li a:hover{
	color: #b1191a;
	text-decoration:none;
	display: block;
	padding: 0px;
	height: 48px;
	width: 48px;
	cursor:pointer;
	padding-left:3px;
}
.left_cat_nav li a .ncr1 {display: block;}
.left_cat_nav li a .ncr2 {display: block;color:#fff;margin-top:6px;}
.left_cat_nav ul span a{
	float:left;
	display:block;
	width:48px;
	height:48px;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
.left_cat_nav li a.cur  {
	text-decoration: none;
	display: block;
	height: 31px;
	line-height:31px;
	width: 48px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	background:#99000e;
	padding-left:3px;
}
.left_cat_nav li a.cur font{background:#fff;margin-top:6px;}
.left_cat_nav li a.cur .ncr1{display: none;}
.left_cat_nav li a.cur .ncr2{
	display: block;
	height: 31px;
	width: 48px;
	font: 12px/18px "宋体";
	color: #fff;
	text-align: center;
	margin: 0px;
	margin-top:6px;
}

.txt_1p3 {line-height: 1.3}
.txt_1p7 {line-height: 1.7}
.txt_1p9 {line-height: 1.9;}
.txt_1p20{
	line-height: 2;
	padding-top: 10px;
}

.pro_unit{
	text-align: left;
	vertical-align: top;
	display: inline;
	margin: 11px;
	padding: 0px;
	float: left;
	width: 220px;
	list-style: none;
	overflow: hidden;
}
.pro_unit dt{
	margin: 0px 0px 5px;
	padding: 0px;
	height: 220px;
	width: 220px;
	overflow: hidden;
	list-style: none;
}
.pro_unit dd{
	margin: 0px;
	padding: 0px;
	width: 220px;
	list-style: none;
	overflow: hidden;
}
.pro_unit .pu_txt1{
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	margin: 0px 0px 5px;
	padding: 0px;
	height: 35px;
	width: 220px;
	overflow: hidden;
	list-style: none;
}
.pro_unit .pu_txt2{
	font: bold 14px/21px "Microsoft YaHei", "STXiHei", "SimHei", "SimSun";
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 220px;
	overflow: hidden;
	list-style: none;
	color: #FF0000;
}
.pro_unit .pu_txt3{
	font-size: 12px;
	line-height: 17px;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	height: 23px;
	width: 220px;
	overflow: hidden;
	list-style: none;
	color: #999;
}


.pro_unit_but1 {
	
	float: left;
}
.pro_unit_but1 a:link, .pro_unit_but1 a:visited{
	height: 23px;
	overflow: hidden;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	vertical-align: top;
	padding: 0px;
	width: 114px !important;
	_width: 112px;
	border: 1px solid #dddddd;
	font: 12px/21px "宋体";
	background: #F4F4F4;
	cursor:pointer;
	display: block;
	float: left;
}
.pro_unit_but1 a:hover{
	height: 23px;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	margin: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	vertical-align: top;
	padding: 0px;
	width: 114px !important;
	_width: 112px;
	border: 1px solid #999;
	font: 12px/21px "宋体";
	background: #ddd;
	cursor:pointer;
	display: block;
	float: left;
}

.pro_unit_but2 {
	
	float: right;
}
.pro_unit_but2 a:link, .pro_unit_but2 a:visited{
	height: 23px;
	overflow: hidden;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	vertical-align: top;
	padding: 0px;
	width: 100px !important;
	_width: 98px;
	border: 1px solid #dddddd;
	font: 12px/21px "宋体";
	background: #F4F4F4;
	cursor:pointer;
	display: block;
	float: left;
}
.pro_unit_but2 a:hover{
	height: 23px;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	margin: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	vertical-align: top;
	padding: 0px;
	width: 100px !important;
	_width: 98px;
	border: 1px solid #999;
	font: 12px/21px "宋体";
	background: #ddd;
	cursor:pointer;
	display: block;
	float: left;
}

.pro_hot_tt{
	font: 16px/36px "Microsoft YaHei", "STXiHei", "SimHei", "SimSun";
	background: #fff;
	margin: 0px 0px 1px;
	padding: 0px;
	clear: both;
	height: 40px;
	width: 200px;
	overflow: hidden;
	color: #000000;
	text-indent: 15px;
	border-top: 2px solid #EBEBEB;
	border-right-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
	border-left-color: #EBEBEB;
}
.pro_hot {
	background: #FFFFFF;
	margin: 0px;
	padding: 15px;
	width: 200px;
	overflow: hidden;
}

.pro_hot dl{
	margin: 0px 0px 10px;
	padding: 0px 0px 5px;
	clear: both;
	width: 170px;
	overflow: hidden;
	list-style: none;
	border-bottom: 1px dashed #CCCCCC;
	vertical-align: top;
}

.pro_hot dt{
	margin: 0px 0px 5px;
	padding: 0px;
	clear: both;
	height: 170px;
	width: 170px;
	overflow: hidden;	
}
.pro_hot dd{
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 170px;
	overflow: hidden;
	line-height: 1.7;
	text-align: center;
	vertical-align: top;
}

/*8/04 修改*/

.zjzh{ width:100%; }
.zjzh_1{ border:1px solid #e3e3e3; border-top:none}
.zjzh_1 li{ float:left}
.zjzh_li_1{ width:200px; padding:5px; text-align:center; height:200px;}
.zjzh_li_1 img{ width:185px; height:160px}
.zjzh_li1,.zjzh_li2{ height:200px; width:25px;}
.zjzh_li1{ background:url(../images/zjzh.png) no-repeat center;}
.zjzh_li2{ background:url(../images/zjzh_1.png) no-repeat center;}
.zjzh_ta{ font-size:14px; color:#999; margin-top:50px}
.zjzh_ta .span_1{ font-size:16px; color:#c81623;}
.zjzh_ta .span_2{ text-decoration:line-through; font-size:16px; color:#999}
.zjzh_ta a{    background: #c81623 none repeat scroll 0 0;
    border-radius: 5px;
    border-top: 1px solid #e3e3e3;
    color: #fff;
    display: block;
    padding: 8px 0;
	width:80px;
}
.zjzh_ta a:hover{
 background: #d40e03 none repeat scroll 0 0;
}
.psz{ margin-top:10px}
.psz .span_1{ color: #999;
    font-size: 14px; line-height:30px; float:left}
.psz .span_2{ color: #c81623 ;float:left;
    font-size: 14px; line-height:30px;}
.psz .cs{float:left;margin-right:10px;}

.jyjl_ta td{ padding:5px 0; border-bottom:1px dashed #ccc}
.jyjl_td{ font-size:16px; color:#333; font-weight:bold; padding-bottom:5px}

.jyjl_ta .span_1{ color:#999;}
.jyjl_ta .span_2{ color:#d24c4c}

.cart_ly{ margin-top:10px;}
.cart_ly span{ margin-right:10px}
.cart_ly .cart_text{ border:1px solid #ccc; padding-left:10px; height:25px; line-height:25px; width:600px}

.shrxx_td1 p{ height:28px; line-height:30px; padding-left:100px; position:relative;-moz-box-sizing:border-box; 
-webkit-box-sizing:border-box; 
box-sizing:border-box;}
.shrxx_td1 p span{ margin-left:10px}
.div_1 em,.div_1 .a_1,.div_1 .span1{ display:none }
.shrxx_td1 p .span1{ padding-left:15px; margin-right:10px; background:url(../images/b02_2.png) no-repeat center left; position:absolute;left:25px; color:#b1191a }
.shrxx_td1 p em{font-style:normal; margin-left:40px; color:#999;}
.shrxx_td1 p .a_1{ float:right; margin-right:20px}
.shrxx_td a{ float:left; display:block; height:30px; line-height:30px; color:#000; background:#f5f5f5; border:1px solid #ddd;border-radius:3px; margin-left:30px; width:100px; text-align:center; -moz-box-sizing:border-box; 
-webkit-box-sizing:border-box; 
box-sizing:border-box;}
.shrxx_td .a1:hover,.shrxx_td .a2{ border:2px solid #f12b2b ; background:url(../images/gx.png) no-repeat right bottom;-moz-box-sizing:border-box; 
-webkit-box-sizing:border-box; 
box-sizing:border-box;}
.shrxx_td_1 span{ float:left; display:block; height:40px; line-height:40px; padding:0 10px; color:#000; background:#f5f5f5; margin-left:30px;  text-align:center;}
.bt_text{ width:50%; height:30px; line-height:35px; border:1px solid #ddd; padding-left:10px}
.bt_text1{ width:90%; height:30px; line-height:35px; border:1px solid #ddd; padding-left:10px}
.bt_text2{ border:1px solid #ddd; height:32px; line-height:32px; padding:0 10px; float:left; margin-right:10px}
.dzdt{ width:370px; margin-right:25px; margin-top:25px; height:370px; float:right; border:1px solid #000}
.user_jf_ta{ padding:0 20px; background:#f5f5f5}
.user_jf_ta td{ height:35px; line-height:35px; font-size:16px}
